* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
}

/* Main link element (<div> tag) */
.link {
  background: white;
  padding: 10px;
  margin-bottom: 10px;
}

/* Link title (<a> tag) */
.linkTitle {
  color: #428bca;
  text-decoration: none;
  margin-right: 5px;
}
.linkTitle:hover {
  text-decoration: none;
}

/* Link URL (<span> tag) */
.linkUrl {
  font-weight: normal;
  font-size: 80%;
}

/* Link headline containing title & URL (<h4> tag) */
.linkHeadline {
  margin: 0;
}

/* Link author (<span> tag) */
.linkAuthor {
  font-weight: normal;
  font-size: 80%;
}

/* Form styles */

.linkForm {
  margin-bottom: 20px;
}

.linkForm input[type="text"] {
  padding: 5px;
  border-radius: 3px;
}

.linkForm .authorField {
  width: 15%;
}

.linkForm .titleField {
  width: 35%;
}

.linkForm .urlField {
  width: 35%;
}
